<section id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="page-title">Contact Me</h1>
        <div class="row">
          <div class="col-xs-8">
            <h2>Over the phone</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere omnis mollitia et, voluptatum totam vero recusandae deserunt hic fugit. Deserunt non quisquam numquam modi quis ut facere, hic vero nobis!</p>
            <span class="big">603 762 3044</span>
          </div>
          <div class="col-xs-4">
            <img class="img-responsive" src="images/bauss.jpeg">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2>Over the web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam odit quidem esse nostrum explicabo blanditiis autem recusandae, quasi est maxime aliquid laborum facere qui quisquam, delectus excepturi sint tempora consectetur.</p>
          </div>
        </div>
        <form class="form" name="form" ng-submit="submit()">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="_name" ng-model="contact.name">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="_replyTo" ng-model="contact.email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea rows="5" class="form-control" name="_message" ng-model="contact.message"></textarea>
          </div>
          <div class="row">
            <div class="col-xs-1">F</div>
            <div class="col-xs-1">I</div>
            <div class="col-xs-1">FB</div>
            <div class="col-xs-4 col-xs-offset-5">
              <button type="submit" class="btn-lg btn-primary btn-block">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>