<div class="nav-container">
  <div id="nav-initial" class="nav-slider">
    <ul class="nav nav-stacked">
      <li><a href="#/">Home</a></li>
      <li><a href="javascript:void(0)" ng-click="toggleNavSecondary()">Categories</a></li>
      <li><a href="#/resume">Resume</a></li>
      <li><a href="#/contact">Contact</a></li>
    </ul>
  </div>
  <div id="nav-secondary" class="nav-slider">
    <ul class="nav nav-stacked">
      <li><a href="javascript:void(0)" class="back-link" ng-click="toggleNavSecondary()">&larr;</a></li>
      <li ng-repeat="category in topLevelCategories">
        <a ng-href="#/category/{{ category.$id }}">{{ category.name }}</a>
      </li>
    </ul>
  </div>
</div>