<section id="dashboard">
  <div class="container">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <h2>Projects <a href="#/project/new" class="btn btn-link">+ add</a></h2>
        <ul class="nav nav-stacked">
          <li ng-repeat="project in projects"><a ng-href="#/project/id/{{ project.$id }}">{{ project.name }}</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h2>Categories <a href="#/category/new" class="btn btn-link">+ add</a></h2>
        <ul class="nav nav-stacked">
          <li ng-repeat="category in categories"><a ng-href="#/category/id/{{ category.$id }}">{{ category.name }}</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h2>Experience <a href="#/experience/new" class="btn btn-link">+ add</a></h2>
        <ul class="nav nav-stacked">
          <li ng-repeat="entry in experience"><a ng-href="#/experience/id/{{ entry.$id }}">{{ entry.name }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>